/*This is global css, it's not scoped to Person.js
It has to be imported in the Person.js file

Having .Person ensures this can't be used in any other component
*/

.Person {
    width: 40%;
    border: 1px solid #eeeeee;
    padding:20px;
    margin: auto auto 50px;
    text-align: center;
}